.month-calendar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.month-nav {
    display: flex;
    gap: 1rem;
    margin-right: 1.5rem;
}

.arrow-button {
    padding: .3rem 2rem;
    border: none;
    border-radius: 6px;
}

.day-name-header {
    display: grid;
    grid-template-columns: repeat(7, 4rem);
    grid-template-rows: 1 2rem;
    gap: .3rem;
}

.day-name {
    border: solid 1px lightgray;
    padding: .3rem;
    text-align: center;
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 4rem);
    grid-template-rows: repeat(6, 4rem);
    gap: .3rem;
    margin-top: .3rem;
}

.day {
    border: solid 1px lightgray;
    padding: .2rem;
}

.non-day {
    border: solid 1px lightgray;
    padding: .2rem;
    background-color: rgba(211, 211, 211, 0.264);
}